body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  color: #1e2022;
  font-size: 37px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #52616b;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #e7e7ed;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 6px;
  height: 100px;
  width: 100px;
}

.weather-temperature strong {
  color: #1e2022;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  height: auto;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -32px;
  color: #48484a;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.6;
}
.weather-forecast-temperature-max {
  font-weight: bolder;
}

.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
